<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW POST</title>
</head>
<body>
    <div class="form">
        <form method="post" action="/register">   <!--action ka mtlb kissko bhejna h info(yaha hm register(route) p bhej rhe hain information)-->
            <input placeholder="name" name="username"> <br/>
            <textarea placeholder="write your content" name="content"></textarea>
            <button>submit</button>
        </form>
    </div>
</body>
</html>